* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: raleway;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--text: #e7e7e0;
	--header: #f4efec;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway;
	src: url(../fonts/raleway-black.woff2);
	font-weight: bold;
}
@font-face {
	font-family: outfit;
	src: url(../fonts/outfit-regular.woff2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: outfit;
}
nav{
	margin: 3vh;
    display: flex;
    justify-content: center;
}
.link {
    width: 60vh;
    display: flex;
    justify-content:space-around;
}
.link a {
    color: var(--text);
	text-shadow: 0 0 15px #1a5f3d;
    text-decoration: none;
}

.footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    line-height: 2;
	margin-top: 20vh;
}
.footer h2 {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.5);
}
.footer ul, a {
    color: var(--text);
	font-size: calc(var(--index) * 1);
	text-decoration: none;
}
.footer img {
    width: calc(var(--index) * 1);
	height: auto;
}

.copyright {
	padding: 5vh;
	text-align: center;
}
.copyright a {
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37);
	color: var(--text);
}
