/* ------------------------------  DEFOULT SETTINGS  ------------------------------ */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	color: var(--color);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
/* ------------------------------  FONTS  ------------------------------ */
@font-face {
	font-family: outfit;
	src: url(../fonts/outfit-regular.woff2);
}
@font-face {
	font-family: raleway;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
/* ------------------------------  VARIABLES  ------------------------------ */
:root {
	--index: calc(1vw + 1vh);
	--color: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--gallery-gap: calc(var(--index) * 7.5)
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	/* -----  FOOTER IS ALWAYS BOTTOM...X  ----- */
	display: flex;
	flex-direction: column;
}
.content {
	margin: 0;
	/* -----  CONTENT BORDER  ----- */
	max-width: 100%;
}
main {
	/* -----  X...AFTER MAIN  ----- */
	flex: 1 1 auto;
}
/* ------------------------------  HEADER...  ------------------------------ */
nav{
	margin: 3vh;
    display: flex;
    justify-content: center;
}
.link {
    width: 60vh;
    display: flex;
    justify-content:space-around;
}
.link a {
	text-shadow: 0 0 15px #1a5f3d;
}
/* ------------------------------  FOOTER...  ------------------------------ */
.footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    line-height: 2;
	margin-top: 20vh;
}
.footer h2 {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.5);
}
.footer ul, a {
	font-size: calc(var(--index) * 1);
}
.footer img {
    width: calc(var(--index) * 1);
	vertical-align: unset;
}
.copyright {
	padding: 5vh;
	text-align: center;
}
.copyright a {
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37);
}
